*{
      margin: 0; padding: 0; box-shadow: border-box;
      font-family: 'Josefin Sans', sans-serif;
}

header{
       width: 100%;
       height: 100vh;
       background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)) ,url(../images/back.jpg);
       background-repeat: no-repeat;
       background-size: cover;
       font-weight: bold;
       animation: slider 8s infinite linear;
      
}
  @keyframes slider {
          0%{
              background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)) ,url(../images/pak.jpg
              );  
          }
            35%{
              background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)) ,url(../images/isla.jpg
              );  
          }
          35%{
              background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)) ,url(../images/karachi.jpg
              );  
          }
          50%{
              background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)) ,url(../images/flag.jpg
              );  
          }

  }

nav{
     
       height: 15vh;
       /* background-color: rgb(0,0,0,0.3); */
       display: flex;
       justify-content: space-between;
       align-items: center;
       color: cornsilk;
       text-transform: uppercase;
       animation: nav-color-changer 12s infinite ease-in-out;
       

     
}

@keyframes nav-color-changer {
       0%{
              background-color: rgb(0,0,0,0.3);
       }
       20%{
              background-color: rgb(0,0,0,0.5);
       }
       40%{
              background-color: rgb(0,0,0,0.6);

       }

       0%{
              background:rgba(77, 175, 124, 1);
       }
}


nav .logo{
        width: 25%;  
        text-align: center;
        
}

nav .menu{
       width: 40%;
       display: flex;
       justify-content: space-around;
       
       

       
}


nav .menu a {
       width: 25%;
       text-decoration: none;
       color: white;

}

nav .menu a:first-child{
      color:#00b894; 
}

main{
      height: 85vh;
      width: 100%;
      background: rgba(0,0,0,0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
     text-align: center;
     
      
}






/* section{

} */


section h3{
       font-size: 35px;
       font-weight: 200px;
       letter-spacing:3px;
       text-shadow: 1px 1px 2px black;
       
}


section h1{
    margin: 30px 0px 20px  0;
        font-size: 60px;
        font-weight: 800px;
        text-shadow: 2px  1px   5px  black;



}

section p{
       font-size: 25px;
       white-space: 2px;
       margin-bottom: 25px;
       text-shadow: 1px 1px 1px black;
       
       
}

section a{
       padding: 12px 30px;
       border-radius: 4px;
       outline: none;
       text-decoration: none;
       font-size: 14px;
       letter-spacing: 1px;
       text-transform: uppercase;
       font-weight: 500px;
       margin: 0 25px;
   
    }


 section .btn-one{
         /* background-color: #00b894; */
         background-color: #fff;
         color: rgb(58, 1, 1);
         font-weight: bold;
 }   

 section .btn-one:hover{
    background-color: #00b894;
    color: #fff;
 }

  
 section .btn-two{
    background-color: #00b894;
    color: #fff;
    
} 


.change_content::after{
    content:'';
    animation: changeText 10s infinite linear;
    color: #00b894;
}

@keyframes changeText {

    0%{content: "Islamabad";}
    20%{content: "Sindh";}
    35%{content: "khyber";}
    50%{content: "Punjab";}
    
}